// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
	ul{
		list-style: none;
		padding-left: 0px;
	}
	form{
		display: inline-block;
	}
}

.field_with_errors {
	padding: 2px;
	background-color: red;
}

div.button-group div {
	display: inline-block;
}

span {
				display: inline-block;
}
